{% load static %}

<!DOCTYPE html>
<html>
<head>
	<title>Task 1</title>

	<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
	<link rel="stylesheet" type="text/css" href="{% static '/vendors/bootstrap/css/bootstrap.css' %}" />
	<link rel="stylesheet" type="text/css" href="{% static '/css/main.css' %}" />

	<script src="{% static '/vendors/jquery/jquery-3.3.1.min.js' %}"></script>
	<script src="{% static '/vendors/jquery-ui/jquery-ui.min.js' %}"></script>

</head>

<body>
	<div class="container">
		<div class="row">
			<div class="col-6">
				<h3>Task 1a</h3>
			</div>
			<div class="col-6">
				<button class="btn btn-light float-right" id="reset">
					Reset
				</button>
			</div>
		</div>
		<div class="row">
			<div class="col-12">
				<div class="shape-container">
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-purple"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-green"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow p2-border"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-yellow"></div>
					<div class="p2-circle bg-orange p2-border orange-bordered"></div>
					<div class="p2-circle bg-orange p2-border orange-bordered"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-orange"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue p2-border"></div>
					<div class="p2-circle bg-blue"></div>
					<div class="p2-circle" id="gradient-circle"></div>
				</div>
			</div>
		</div>
			
	</div>


<script type="text/javascript">
	$(document).ready(() => {
    //Clicking on a purple bubble pops (i.e. hides) all purple bubbles
    $('.bg-purple').on('click', () => {
      $('.bg-purple').hide();
    })
  
    //Clicking on a green bubble pops all bubbles that are green and bubbles that are blue
    $('.bg-green').on('click', () => {
      $('.bg-green').hide();
      $('.bg-blue').hide();
    })
  
    //Clicking on an orange bordered bubble pops all other orange bordered bubbles
    $('.orange-bordered').on('click', event => {
      $(event.currentTarget).removeClass('orange-bordered');
      $('.orange-bordered').hide();
      $(event.currentTarget).addClass('orange-bordered');
    });
  
    //Hovering over the gradient bubble hides the gradient bubble
    $('#gradient-circle').on('mouseenter', () => {
      $('#gradient-circle').hide();
    });
    
    //Reset
    $('#reset').on('click', () => {
      $('.p2-circle').show();
    });
  });

</script>
</body>
</html>